$header-background-color: #ffffff;
$dark-blue-color:#130639;
$light-blue-color:#26266d;
$white:#fff;
$grey:#C1C2C2;
$light-red:#D0182B;
$light-grey:#E4E4E4;
$itinerary-grey:#5D5D5D;
$itinerary-bg:#EFF0F1;
$cyan-blue:#006EFF;
$checkout-page-grey:#858685;
$light-shade-grey:#484848;
$black-color:#000;
$charcoal:#333;
$cyan-light:rgb(47,69,164);
$dark-white:#eff0f1;
$dark-grey:#2f2f2f;
$medium-grey:#666;