@import "../../../Constants//Colors.scss";
.modal-content {
    min-width: 60vw;
    min-height: 60vh;
    padding: 50px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .terms-heading {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: $charcoal;
  }
  
  .terms-points ul {
    padding-left: 0;
  }
  
  .terms-points li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: $medium-grey;
  }
  
  
  .terms-points li:hover {
    color: $black-color;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  