.room-page-selected-rooms{
    width: 11%;
    .MuiInputBase-root{
        height: 70px !important;
    }
}
.rooms-heading{
    font-size: 0.9rem !important;
}
.selected-room{
    font-size: 1rem !important;
}
@media (max-width:900px)
{
    .rooms-heading{
        font-size: 0.8rem !important;
    }
    .selected-room{
        font-size: 0.8rem !important;
    }
}
@media(max-width:800px)
{
    .room-page-selected-rooms{
        width: 49.5%;
        .MuiInputBase-root{
            height: 55px !important;
        }
    }
    
    .rooms-heading{
        font-size: 0.9rem !important;
    }
    .selected-room{
        font-size: 1rem !important;
    }
}
@media(max-width:550px)
{
    .room-page-selected-rooms{
        width: 100%;
    }
}