.room-page-selected-rooms{
    width: 11%;
    .css-1nrlq1o-MuiFormControl-root{
        height: 70px !important;
        width: 100%;
    } 
    .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
        height: 68px !important;
        width: 100%;
    }
}
.rooms-heading{
    font-size: 0.9rem !important;
}
.selected-room{
    font-size: 1rem !important;
}
@media (max-width:900px)
{
    .rooms-heading{
        font-size: 0.8rem !important;
    }
    .selected-room{
        font-size: 0.8rem !important;
    }
}
@media(max-width:750px)
{
    .room-page-selected-rooms{
        width: 100%;
        // margin-top: -1px;
        .css-1nrlq1o-MuiFormControl-root{
            height: 55px !important;
            width: 100%;
        } 
        .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
            height: 53px !important;
            width: 100%;
        }
    }
    
    .rooms-heading{
        font-size: 0.9rem !important;
    }
    .selected-room{
        font-size: 1rem !important;
    }
}