@import "../../Constants/Colors.scss";
.header {
  width: 100%;
  height: 10%;
  background-color: $header-background-color;
  display: flex;
  padding: 30px 40px 20px 70px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

}
.headings {
  display: flex;
  gap: 8px;
  h4 {
    font-size: 1.3rem;
  }
  .main-heading {
    color: $dark-blue-color;
  }
  .sub-heading {
    color: $light-blue-color;
  }
}
.right-part {
  display: flex;
  gap: 55px;
  align-items: center;
  .choice-components {
    display: flex;
    gap: 20px;
  }
  .language-component {
    display: flex;
    align-items: center;
  }
  .language-selection {
    outline: none;
    border: none;
    height: 15px;
    color: $light-blue-color;
    font-weight: 600;
    option {
      color:$light-blue-color;
    }
  }
  .currency-component {
    display: flex;
    align-items: center;
  }
  .currency-selection {
    outline: none;
    border: none;
    height: 15px;
    color: $light-blue-color;
    font-weight: 600;
    option {
      color: $light-blue-color;
    }
  }
  .login-button {
    padding: 10px 18px;
    background-color: $light-blue-color;
    color: $header-background-color;
    border-radius: 6px;
    border: none;
  }
}
.right-part-copy {
  display: none;
  .login-button {
    padding: 4px 8px;
    background-color: $light-blue-color;
    color: $header-background-color;
    border-radius: 6px;
    border: none;
  }
  .language-component {
    display: flex;
    align-items: center;

    .language-selection {
      outline: none;
      border: none;
      color: $light-blue-color;
      option {
        color: $light-blue-color;
      }
    }
  }
  .currency-component {
    display: flex;
    align-items: center;
    .currency-selection {
      outline: none;
      border: none;
      color: $light-blue-color;
      option {
        color: $light-blue-color;
      }
    }
  }
}
.hamburger {
  display: none;
  font-size: 1.3rem;
}
img {
  height: 11px;
  width: 11px;
}
.currency-display {
  position: absolute;
  top: 120%;
  left: 40%;
  font-size: 1.3rem;
}
@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
  .header {
    padding: 0.8em 0.7em 0.8em 0.6em;
  }
}
@media (max-width: 768px) {
  .right-part {
    gap: 25px;
    .choice-components {
      gap: 10px;
    }
  }

  html {
    font-size: 80%;
  }
  .login-button {
    padding: 8px 12px;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 84%;
  }
  .right-part {
    display: none;
  }

  .hamburger {
    display: block;
    font-weight: 600;
  }
  .right-part-copy {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 100%;
    right: 10px;
    background-color: $header-background-color;
  }
}
