.cancellation-policies-modal{
    padding: 40px 30px;
    .cancellation-policies-heading{
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    .cancellation-policies-wrapper{
        li{
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }
}
