@import "../../Constants/Colors.scss";
.footer {
  height: 10%;
  width: 100%;
  background-color:$dark-blue-color;
  padding: 20px 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: $header-background-color;
}
.left-heading {
  h2 {
    font-size: 1.3rem;
  }
}
.right-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  h4 {
    font-size: 1.1rem;
  }
}
@media(max-width:600px)
{
  .footer{
    padding: 20px 25px;
  
  }
  .right-heading{
    h4{
      font-size: 0.9rem;
    }
  }
}