.custom-select {
    position: relative;
    min-width: 100px;
    width: fit-content
    
  }
  
  .selected-option {
    display: flex;
    gap: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .options {
    position: absolute;
    z-index:999;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  