.tax-modal-content{
    padding: 35px 25px;
    line-height: 1.6rem;
    font-weight: 500;
    .tax-modal-heading{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .tax-modal-room-type{
        font-size: 1.1rem;
    }
    .tax-modal-nightly-rate{
        font-size: 1.1rem;
    }
    .tax-modal-promotions{
        font-size: 1.1rem;
        margin: 10px 0px;
    }
    .tax-modal-date-rate{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        .tax-modal-date-rate
        {
            font-size: 1.1rem;
        }
        .tax-modal-rates{
            font-size: 1.1rem;
        }
    }
    .tax-modal-total{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        
        .tax-modal-total-heading{
            font-size: 1.2rem;
        }
        .tax-modal-total-price{
            font-size: 1.1rem;
        }
    }
    .tax-modal-border-bottom{
        height: 0.5px;
        width: 100%;
        background-color:black;
        margin: 10px 0px;
    }
    .tax-modal-taxes-details{
        justify-content: space-between;
        .tax-modal-taxes-heading{
            font-size: 1.1rem;
            margin-bottom: 8px;
        }
        .tax-modal-tax-type
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .tax-modal-type-heading{
                font-size: 1.1rem;
            }
            .tax-modal-type-price{
                font-size: 1.1rem;
            }
            .tax-modal-type-heading{
                font-size: 1.1rem;
            }
            .tax-modal-type-price{
                font-size: 1.1rem;
            }
        }
    }
    .tax-modal-due-now{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tax-modal-due-at-resort{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .resort-heading{
            font-size: 1.1rem;
        }
        .resort-due-price{
            font-size: 1.1rem;
        }
    }
}