@import "../../Constants/Colors.scss";
.checkout-page {
  min-height: 80%;
  width: 100%;
}

.checkout-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-container {
  width: 25%;
  margin: 0;
  padding: 20px;
  border: 1px solid $grey;
  border-radius: 5px;
  .email-heading{
    font-size: 1.2rem;
  }
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $grey;
  border-radius: 5px;
}

.form-container button[type="submit"] {
  background-color: $light-blue-color;
  color: $white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: $dark-blue-color;
}

.itinerary-content {
  width: 30%;
  margin-bottom: 20px;
}
